@font-face {
  font-family: BlackAndWhite;
  src: url(pokemon-b-w.ttf);
}

* {
  font-family: BlackAndWhite;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title{
  font-size: 5vh;
  padding-top: 10vh;
  padding-bottom: 0;
  margin: 0;
  font-size: 60px;
}